This requires you to download

1.Java Software

2.MySQL

3.Java and MySQL connector

Add connector jar file to the classpath and in project referenced libaries.

Then you can run the Main.java file to run the project.

That's was it.